@page "/"

<PageTitle>Home</PageTitle>

<h1>eSUP</h1>
@* <SfCalendar TValue="DateTime" />
 *@<h3>Instructions</h3>

<p><b>eSUP Is an electronic version of the student unit planner.</b>
    Teachers can create new student unit planners which are then distributed individually to students.
    Students indicate that they have completed a question by clicking on each part. 
    Planners are broken down into exercises questions and parts and each part can be allocated as approaching, at level or above level. </p>
    <p>Teachers begin with the creator view to create a new student unit planner . 
        Once the planner is configured save it and click distribute to send it to all students listed. 
    </p>